<% layout('layout') %>

<h1>🔍搜尋頁面</h1>


<!-- <h3>傳統表單</h3>   -->
<!-- 用於發送 POST 請求到 "/searchList" 路徑 -->
<!-- <form action="/search/searchList" method="post">
   <input type="text" name="title" id="titleInput">
   <input type="text" name="content" id="contentInput">
   <input type="submit" value="送出">
</form>
<br> -->

<h3>AJAX表單</h3>  
<form action="/search/searchAJAX" method="post">
   <input type="text" name="title" id="ajaxTitleInput">
   <input type="text" name="content" id="ajaxContentInput">
   <input type="submit" id="ajaxSubmitBtn" value="送出">
</form>
<br>

<a href="../">返回首頁</a>

<script src="/js/all.js"></script>